.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
}

.main {
  box-sizing: border-box;
  padding: 2rem;
}

.mainHeading {
  float: left;
  color: #424242;
}
