.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
}

.main {
  box-sizing: border-box;
  padding: 2rem;
  background-color: #f0f0f0;
}

.headingDiv {
  text-align: left;
  position: relative;
  margin-bottom: 1rem;
}

.mainHeading {
  display: inline;
  color: #424242;
  margin-right: 1rem;
}

.button-wrapper {
  position: absolute;
  top: 0;
}

.button {
  border: 0.2rem solid #66bb6a;
  background: none;
  color: #66bb6a;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
}

.button-confirm {
  background-color: #66bb6a;
  color: #ffffff;
}

.button-close {
  border-color: #f44336;
  color: #f44336
}

.button i {
  margin-right: 0.5rem;
}

.button:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.form {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 3px 0 4px 0 #888;
  box-shadow: 0 0 4px 0 #888;
}

.form label {
  margin-right: 0.5rem;
}

.form input {
  font-size: 1rem;
}

.form .form-actions {
  border-top: 1px solid #dddddd;
  box-sizing: border-box;
  padding-top: 1rem;
  margin-top: 3rem;
  text-align: right;
}

.form .form-actions a {
  margin-right: 1rem;
}

.form .form-actions a:last-of-type {
  margin-right: 0;
}

.form .form-line {
  margin-bottom: 1rem;
}

.form .form-line:last-of-type {
  margin-bottom: 0;
}